@import "variables";

.container {
  padding: 0 10%;
}

a {
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.btn {
  padding: 0.7rem 3.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: $white-color;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border: 1px solid $primary-color;
  border-radius: 10px;
  background-color: transparent;
  @include transition;
  &:hover {
    background-color: $primary-color;
    color: $black-color;
  }
}

.title {
  font-size: clamp(2.3rem, 5vw, 3rem);
  font-weight: 600;
  text-transform: capitalize;
}

.border-bottom{
  border-bottom: 5px solid $primary-color;
}

.section-name{
  display: inline-block;
  font-size: 9rem;
  font-weight: 700;
  color: $background-color;
  -webkit-text-stroke: 1px $primary-color;
  opacity: 0.4;
}

p{
  margin: 4rem 0;
  font-weight: 300;
  line-height: 30px;
}