@import "variables";
@import "mixin";

.home {
  height: 100vh;
  @include flex(center);
}

.home-content {
  @include flex(center);
  gap: 5rem;
  flex-wrap: wrap;
}

.home-text {
  position: relative;
  flex: 1 1 20rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  img{
    width: 60%;
    z-index: -1;
    opacity: .4;
    position: absolute;
  }
}

.home-title {
  color: $white-color;
  font-size: clamp(2.4rem, 6vw, 4rem);
  text-transform: capitalize;
  z-index: 1;
}

.dot {
  color: $primary-color;
}

.home-img {
  flex: 1 1 10rem;
  img{
    width: 100%;
  }
}

@include tablet-md;