@import "variables";
@import "responsive";
@import "mixin";

header{
  position: relative;
}

.navbar {
  width: 100%;
  padding: 1.5rem 10%;
  @include flex;
  box-shadow: $shadow;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  transition: all 0.3s ease 0s;
  // @include border;
}

.navbar.sticky{
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: $background-color-light;
}


.brand-title {
  width: 15rem;
  // @include border;
  img{
    width: 100%;
  }
}

.toggle-button{
  width: 35px;
  height: 30px;
  position: absolute;
  display: inline-block;
  right: 5%;
  top: 32px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s ease 0s;
}

.toggle-button.sticky{
  top: 28px;
}

.toggle-button.active {
  .bar:nth-child(2) {
    opacity: 0;
  }
  .bar:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
}

.bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $primary-color;
}

.nav-links {
  position: relative;
  display: flex;
  ul{
    @include flex;
  }

  li:last-child a{
    margin-right: 0;
  }

  a{
    margin: 0 2.5rem;
    font-size: 1.1rem;
    color: $white-color;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    &:hover{
      color: $primary-color;
    }
  }
}

.log-in{
  ul{
    @include flex;
    gap: 2rem;
  }
  a{
    font-size: 1.1rem;
    text-transform: uppercase;
    &:hover{
      color: $primary-color;
    }
  }
}

@include large;
@include x-large;
@include hide-button;
@include reduce-logo-width;