@import "variables";
@import "mixin";
@import "responsive";

.trust{
  padding: 10rem 0;
  background-color: $background-color-light;
}

.trust-title{
  margin-bottom: 4rem;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: auto;
  place-items: center;
  gap: 4rem;
  i{
    opacity: .5;
    font-size: clamp(3.5rem, 4vw, 5rem);
    transition: all .3s ease 0s;
    &:hover{
      cursor: pointer;
      opacity: 1;
      color: $primary-color;
    }
  }
}

@include adjust-cards;