// colors 
$primary-color: #68f8ee;
$black-color: #333;
$background-color: #0c0a0f;
$background-color-light: #1a1a1a;
$white-color: #fff;
$border: .1rem solid $black-color;
$shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);